<html>

  <head>
    <title>todo-app</title>
    <link rel="stylesheet" href="/src/app/app.component.css" type="text/css" media="screen" charset="utf-8">    
  </head>

  <body>

    <div id="div_input" style="text-align:center">
      <h1>A Simple To-Do List</h1>
      <input type="text" id="input_todo_item" placeholder="Add Item Here">
      <button onclick="addItem()" id="button_addItem">Add</button>
    </div>

    <hr>

    <div id="div_list" style="text-align:center">
      <ul id="ul_todo_list">
      </ul>
    </div>

  </body>

  <script src="/src/app/todo.js"></script>

</html>
